# creds.toml.example

# Conjur Client
[conjur]
apiurl = "https://YOUR-CONJUR-SUB-DOMAIN.secretsmgr.cyberark.cloud/api"
account = "conjur"

[pam]
"idtenanturl" = "https://TENANTID.id.cyberark.cloud"
"pcloudurlkey" = "data/vault/mysafe/pamcredspath/address"
"userkey" = "data/vault/mysafe/pamcredspath/username"
"passkey" = "data/vault/mysafe/pamcredspath/password"

[aws]
identity = "host/data/myapp/11122233344/myapplication_iam_role"
authenticator = "authn-iam/myapplication"

# IAM Role ARN -- role to assume
iamrolearn = "arn:aws:iam::11122233344:role/myapplication_iam_role"
region = "us-east-1"

[azure]
# "identity" is used for the "host-id" in the docs, SEE:
# https://docs.cyberark.com/conjur-cloud/latest/en/Content/Developer/Conjur_API_Azure_Authenticator.htm
identity = "host/data/apps/azurevms"

# Get it from - Conjur Cloud: Authenticators -> (select one) -> Details.Service ID (remove prefix "authn-azure")
serviceid = "myazureauthenticator"
